<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

    <script type="text/javascript" th:src="@{/js/prettyprint.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/panel-actions.css}" />

    <div th:replace="fragments/navigation  :: navigation" />

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}">Journal</h3>
                        <ul class="list-inline panel-actions">
                            <li>
                                <a class="toggle-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Key</th>
                                <th>Headers</th>
                                <th>Payload</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="message : ${messages}">
                                <td class="col-md-1" th:text="${message.sequenceNumber}">#</td>
                                <td class="col-md-1" th:text="${message.key}">key</td>
                                <td class="col-md-5">
                                    <span th:replace="fragments/message :: header(${message})" />
                                </td>
                                <td class="col-md-5">
                                    <span th:replace="fragments/message :: payload(${message})" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <span th:replace="fragments/footer :: footer" />
    <script type="text/javascript" th:src="@{/js/init-fullscreen.js}"></script>

</body>
</html>
