<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

    <script type="text/javascript" th:src="@{/js/prettyprint.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/panel-actions.css}" />

    <div th:replace="fragments/navigation  :: navigation" />

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}">Message Trace</h3>
                        <ul class="list-inline panel-actions">
                            <li>
                                <a class="toggle-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <span th:replace="fragments/message :: list(${messages})" />
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <span th:replace="fragments/footer :: footer" />
    <script type="text/javascript" th:src="@{/js/init-fullscreen.js}"></script>

</body>
</html>
