<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

    <script type="text/javascript" th:src="@{/js/prettyprint.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/panel-actions.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/help.css}" />


    <div th:replace="fragments/navigation  :: navigation" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${endpointType} + ': ' + ${channelName}">Message Trace</h3>
                        <ul class="list-inline panel-actions">
                            <li>
                                <a id="helpButton" href="#" role="button" title="Help">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </li>
                            <li>
                                <a class="toggle-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div id="helpModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h3>Message Trace</h3>
                                <p>Displays the last <span th:text="${capacity}">5</span> messages
                                    <span th:text="${endpointType == 'Receiver' ? 'received from' : 'sent to'}">received from</span>
                                    channel <span th:text="${channelName}"></span>.</p>
                            </div>
                        </div>
                        <span th:replace="fragments/message :: list(${messages})" />
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <span th:replace="fragments/footer :: footer" />
    <script type="text/javascript" th:src="@{/js/init-fullscreen.js}"></script>
    <script type="text/javascript" th:src="@{/js/help.js}"></script>

</body>
</html>
