<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <div th:fragment="pager(pager)">
        <ul class="pager" th:if="${pager.available}">
            <li>
                <a class="btn" th:classappend="${pager.first != null} ? 'btn-default' : 'disabled'" th:href="${pager.first}" data-toggle="tooltip" data-placement="top" data-delay="750" title="First Page">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </a>
            </li>
            <li>
                <a class="btn" th:classappend="${pager.prev != null} ? 'btn-default' : 'disabled'" th:href="${pager.prev}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Previous Page">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </li>
            <li>
                <a class="btn" th:classappend="${pager.next != null} ? 'btn-default' : 'disabled'" th:href="${pager.next}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Next Page">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
            <li>
                <a class="btn" th:classappend="${pager.last != null} ? 'btn-default' : 'disabled'" th:href="${pager.last}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Last Page">
                    <span class="glyphicon glyphicon glyphicon-fast-forward"></span>
                </a>
            </li>
        </ul>
    </div>

</body>
</html>
